.home-hm {
	margin: 100px 0;
}
.hm-intro {
	margin: 0 auto;
	width: 70%;
}

.home-hm img {
	margin: 50px 00px;
	width: 230px;
	border-radius: 50%;
}

.hm-content {
	float: right;
	margin: 0 auto;
	width: 60%;
	padding: 0 30px 15px 0;
}

.hm-content p {
	font-size: 18px;
	margin: 0 0 20px 0;
}

.hm-skills h1 {
	text-align: center;
}