.intro {
	background: linear-gradient(135deg, #265d63 0%, #34B8C8 50%, #FFF 100%);
	height: 50vh;
	padding: 50vh 0 0 0;
	box-shadow: 1px 4px 29px -10px rgba(136,157,158,0.53);
	z-index: 0;
}
.intro > p {
	position: absolute;
	bottom: 80px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 2px #265d63;
}
.skills {
	background-color: #FFF;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 250px 0;
	color: #34B8C8;
	z-index: 20;
}

.skills p {
	margin: 100px 0 0 0;
	font-size: 20px;
	color: #34B8C8;
}
@media screen and (min-width: 401px) {
	.skills p {
		padding: 0 10vw;
		font-size: 30px;
		line-height: 50px;
	}
}
.skills h2 {
	padding: 0 10% 100px 10%;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	color: #34B8C8;
	letter-spacing: 6px;
}
