nav {
	z-index: 30;
}

@media screen and (max-width: 900px) {

	nav > ul > li a {
	padding: 10px 30px;
	border: 1px solid #34B8C8;
	opacity: 0.8;
	background-color: #FFF;
	line-height: 60px !important;
	cursor: pointer !important;
	outline:none;
	border: none;
	text-decoration: none;
	font-size: 17px;
	color: #265d63;
	font-weight: 400;

}

	/* NAV ACTION (SHOW/HIDE) */
	nav {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #136270;
	}
	nav > div {
		display: inline-block;
	}
	nav.show {
		background: linear-gradient(to bottom right, #265d63, #34B8C8, #FFF);
	}
	nav > ul.hide {
		margin: inherit;
		opacity: 0;
		visibility: hidden;
		height: 0;
		transition: opacity 1s,
					margin 1s,
					visibility 1s,
					height 1s;
	}

	nav > ul.show {
		margin: 30px auto;
		opacity: 1;
		visibility: visible;
		height: 100vh;
		transition: opacity 2s,
					margin 1s,
					visibility 1s,
					height 1s;

	}

	section.hide {
		overflow: visible;
	}

	section.show {
		overflow: hidden;
	}

	/* NAV STYLE */

	/* nav link - fonts */
	nav > ul > li {
		text-align: center;
	}

	nav > ul > li > p {
		text-align: left;
		font-weight: 100;
		margin: 2vh 0 2vh 5%;
		cursor: default;
	}


	/* BURGER BTN */
	.hamburger .line {
	  width: 40px;
	  height: 2px;
	  background-color: #ecf0f1;
	  display: block;
	  margin: 11px auto;
	  -webkit-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	}

	.hamburger:hover,
	.hamburger:focus {
	  cursor: pointer;
	}

	/* NINE */

	#hamburger-9{
	  cursor: pointer;
	  position: absolute;
	  right: 30px;
	  top: 30px;
	  -webkit-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	}

	#hamburger-9.is-active{
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	#hamburger-9:before{
	  content: "";
	  position: absolute;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 50px;
	  height: 50px;
	  border: 2px solid transparent;
	  top: calc(50% - 25px);
	  left: calc(50% - 25px);
	  border-radius: 100%;
	  -webkit-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	}

	#hamburger-9.is-active:before{
	  border: 1px solid #ecf0f1;
	}

	#hamburger-9.is-active .line{
	  width: 25px;
	}

	#hamburger-9.is-active .line:nth-child(2){
	  opacity: 0;
	}

	#hamburger-9.is-active .line:nth-child(1){
	  -webkit-transform: translateY(13px);
	  -ms-transform: translateY(13px);
	  -o-transform: translateY(13px);
	  transform: translateY(13px);
	}

	#hamburger-9.is-active .line:nth-child(3){
	  -webkit-transform: translateY(-13px) rotate(90deg);
	  -ms-transform: translateY(-13px) rotate(90deg);
	  -o-transform: translateY(-13px) rotate(90deg);
	  transform: translateY(-13px) rotate(90deg);
	}

}

/* NAV DESKTOP */
@media screen and (min-width: 901px) {
	/* NAV ACTION */
	nav > div, nav > ul, nav > ul > li {
		display: inline-block;
	}

	nav > div.hamburger {
		display: none
	}

	nav > ul {
		float: right;
		padding: 30px 4vw 0 0;
	}
	.menu-link-main {
	    line-height: 25px!important;
	    cursor: pointer!important;
	    border-bottom: 5px solid hsla(0,0%,100%,.2);
	    padding-bottom: 0;
	}
	.menu-link-main:hover {
    	border-bottom: 10px solid #fff;
	}
	nav > ul > li {
		font-size: 22px;
		margin: 0 2vw 0 0;
		transform: scale(1);
		transition: transform 100ms ease-out;
	}
	nav > ul > li:hover  {
		transform: scale(1.1);
		transition: transform 100ms ease-in;
	}

	nav > ul > li > a:focus {
		color: #FFF;
	}
	nav > ul > li > a {
		text-decoration: none;
		color: #FFF;
	}


	.menu-sub {
	    position: relative;
	    display: inline-block;
	    padding: 30px 0 0 0;
	}
	.menu-sub > p {
	    position: relative;
	    display: inline-block;
		color: #FFF;
		cursor: default;
	}
	.menu-sub-content {
		margin: 0px 0 0 0;
	    display: none;
	    position: absolute;
	    background-color: rgba(230, 246, 250, 0.5);
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.menu-sub-content a {
	    font-size: 16px;
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	.menu-sub-content a:hover,
	.menu-sub-content a:focus
	 {
	    background-color: rgba(197, 213, 217, 0.5);
	}

	.menu-sub:hover .menu-sub-content,
	.menu-sub:focus .menu-sub-content,
	.menu-sub:active .menu-sub-content {
		display: block;
	}

	.menu-sub:hover .dropbtn,
	.menu-sub:focus .dropbtn,
	.menu-sub:active .dropbtn {
		background-color: #3e8e41;
	}

	/* Sticky menu */
	nav {
		width: 100%;
		left: 50%;
		margin: 0 0 0 -50%;
	}
	nav.fixed-menu {
		position: fixed !important;
		background-image: linear-gradient(135deg, #265d63 0%, #34B8C8 50%, #c4f8ff 100%) !important;
		animation-duration: 1s;
  		animation-name: slidein;
		padding: 0 0 40px 0;

	}
	nav.top-menu {
		position: absolute;
	}

	nav > div.menu-logo {
		padding: 0 0 0 4vw;
	}
	@keyframes slidein {
	  	from {
		   top: -202px;
		}

		to {
		   top: 0px;
		}
	}
}


/* Section action for mobile menu */

section.show {
	visibility: hidden;
}

section.hide {
	visibility: visible;
}
