.progress-container {
	width: 100px;
	display: inline-block;
	margin: 30px 20px;
	vertical-align: top;
}

.progress-container h3 {
  padding: 20px 0 10px 0;
  display: flex;
}
.progress-container small {
  color: #2D3638;
  font-size: 13px;
}
.long-progress-title {
  hyphens: auto;
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  .progress-container {
    width: 100px;
    display: inline-block;
    margin: 30px 35px;
    vertical-align: top;
  }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .progress-container {
    width: 150px;
    display: inline-block;
    margin: 30px 55px;
    vertical-align: top;
  }
}
@media screen and (min-width: 800px) {
  .progress-container {
    width: 200px;
    display: inline-block;
    margin: 30px 60px;
    vertical-align: top;
  }
  .CircularProgressbar {
     width: 150px !important; 
  }
  .progress-container h3 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .progress-container small {
    font-size: 20px;
    line-height: 25px;
  }
}
/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 *
 * src: https://www.npmjs.com/package/react-circular-progressbar
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
   width: 100px; 
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #34B8C8;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #34B8C8;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
  font-family: 'Varela', sans-serif;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #34B8C8;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}