.section-media {
	padding: 5vh 5vw;
}

.section-media h2 {
	text-align: right;
	font-size: 30px;
	line-height: 50px;
	color: #34b8c8;
	text-transform: uppercase;
}

.section-media h3 {
	font-size: 30px;
	line-height: 60px !important;
	color: #2d3638;
}
.section-media p {
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 1vw 0;
}
.section-media p a {
	color: #34b8c8;
	text-decoration: none;
}
.section-media p a:hover {
	color: #265d63;
}
.section-media ul {
	list-style: square;
	line-height: 30px;
	margin: 0 0 2vw 1vw;
}
.section-media li {
}

@media screen and (min-width: 401px) and (max-width: 800px) {
	.section-media {
		padding: 10vh 10vw;
	}

	.section-media h2 {
		font-size: 50px;
		line-height: 60px;
	}

	.section-media h3 {
		font-size: 40px;
		line-height: 40px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
	.section-media {
		padding: 5vh 15vw;
	}

	.section-media h2 {
		font-size: 60px;
		line-height: 70px;
	}

	.section-media h3 {
		font-size: 50px;
		line-height: 40px;
	}
}

@media screen and (min-width: 1025px) {
	.section-media {
		padding: 5vh 20vw;
	}

	.section-media h2 {
		margin: 10vh 0 20vh 10vw;
		font-size: 60px;
		line-height: 70px;
	}

	.section-media h3 {
		margin: 0 15vw 7vh 0;
		font-size: 50px;
		line-height: 40px;
	}
}