.footer-ft {
	width: 100%;
	height: 150px;
	background-color: #a5c7cc;
	text-align: center;
}

.footer-ft h3 {
	color: white;
	font-size: 20px;
	padding: 20px 0 0 0;
}

.footer-ft img {
	width: 50px;
	margin: 15px 15px 0 15px;
	opacity: 0.5;
}

.footer-ft img:hover {
	opacity: 1;
}

.footer-bt {
	width: 100%;
	height: auto;
	background-color: #2d3638;
	text-align: center;
	padding: 15px 0;
	margin: 20px 0 0 0;
}

.footer-bt p {
	margin: 20px 0 15px 0;
	color: white;
}

.footer-bt small {
	color: grey;
}

.red {
	color: red;
}