.footer-ft {
	width: 100%;
	background-color: #dedee2;
	text-align: center;
}

.footer-ft h3 {
	color: #2d3638;
	padding: 100px 10% 50px 10%;
	line-height: 60px;
	text-align: center;
	font-size: 35px;
	color: #2D3638;
	letter-spacing: 6px;
}

.footer-ft img {
	width: 70px;
	margin: 30px;
	opacity: 0.7;
	transition: transform .5s ease-out, opacity .5s ease-out;
}

.footer-ft img:hover {
	opacity: 1;
	transform: scale(2);
	transition: transform .5s ease-in, opacity .5s ease-in;
}

.footer-bt {
	margin: 100px 0 0 0;
	width: 100%;
	background-color: #2d3638;
	text-align: center;
	padding: 30px 0;
	cursor: default;
}

.footer-bt p {
	margin: 20px 0 15px 0;
	color: white;
}

.footer-bt small {
	color: grey;
}

.red {
	color: red;
}