.section-intro {
	padding: 100px 10% 50px 10%;
	background-color: #f2f9fc;
	box-shadow: 0px 4px 29px -10px rgba(136,157,158,0.53);
}

.section-intro p {
	font-size: 22px;
	color: #34b8c8;
	margin: 0 0 30px 0;
	text-align: justify;
	text-align-last: center;
	line-height: 30px;
}

.section-intro strong {
	font-size: 23px;
	letter-spacing: 4px;
	line-height: 30px;
}

@media screen and (min-width: 401px) and (max-width: 800px) {
	.section-intro {
		padding: 100px 15% 50px 15%;
	}
}

@media screen and (min-width: 801px) {
	.section-intro {
		padding: 100px 20% 50px 20%;
	}
}