.section-intro {
	padding: 100px 10% 50px 10%;
}

.section-intro p {
	font-size: 22px;
	color: #34b8c8;
	margin: 0 0 30px 0;
	text-align: center;
	line-height: 30px;
}

.section-intro strong {
	font-size: 23px;
	letter-spacing: 4px;
	line-height: 30px;
}

@media screen and (min-width: 401px) and (max-width: 800px) {
	.section-intro {
		padding: 100px 20% 50px 20%;
	}
}

@media screen and (min-width: 801px) {
	.section-intro {
		padding: 100px 30% 50px 30%;
	}
}